<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gravity Store - Entrar</title>
    
    <link rel="stylesheet" href="{{ url_for('login.static', filename='login.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{{ url_for('login.static', filename='Gwhite.svg') }}" />
  </head>
  <body>
    <header>
      <a href="{{ url_for('main.home') }}" class="logo-link">
        <img src="{{ url_for('login.static', filename='Gwhite.svg') }}" alt="Logotipo da Gravity Store" id="logo" />
        <h1 class="titulo">Gravity Store</h1>
      </a>
    </header>

    <main>
      {% if erro %}
      <div class="alerta erro">{{ erro }}</div>
      {% endif %}
      
      <section class="auth-card">
        <h2>Entrar</h2>
        <form action="/login_auth" method="post" class="auth-form">
          
          <div class="input-group">
            <label for="email">E-mail</label>
            <div class="input-wrapper">
              <span class="material-symbols-outlined">alternate_email</span>
              <input type="email" name="email" id="email" placeholder="exemplo@email.com" required />
            </div>
          </div>

          <div class="input-group">
            <label for="senha">Senha</label>
            <div class="input-wrapper">
              <span class="material-symbols-outlined">password</span>
              <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required />
            </div>
          </div>

          <div class="options-group">
            <label class="remember">
              <input type="checkbox" name="remember" id="remember" />
              Lembrar de mim
            </label>
            <a href="#" class="forgot-link">Esqueceu a senha?</a>
          </div>

          <div class="btn-group">
            <button type="submit" class="btn-primary" id="entra">Entrar</button>
            <a href="{{ url_for('register.register') }}" class="btn-secondary" id="registro">Cadastrar</a>
          </div>

        </form>
      </section>
    </main>
    <script src="{{url_for('login.static', filename='login.js')}}"></script>
  </body>
</html>