<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Arquivo CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('main.static', filename='style.css') }}"
    />
    <!-- Fontes google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <!--Logo da Gravity Store-->
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('main.static', filename='Gwhite.svg') }}"
    />

    <!-- Kit de ícones -->
    <script
      src="https://kit.fontawesome.com/e44e3818bb.js"
      crossorigin="anonymous"
    ></script>

    <title>Gravity Store</title>
  </head>
  <body>
    <header>
      <!-- Título e logo inicial -->

      <a href="{{ url_for('main.home') }}">
        <img
          src="{{ url_for('main.static', filename='Gwhite.svg') }}"
          alt="Logotipo da Gravity Store"
          id="logo"
        />
        <h1 class="titulo">Gravity Store</h1>
      </a>

      <!-- Barra de pesquisa -->
      <div class="pesquisa">
        <form action="/pesquisa" method="get" id="form">
          <span class="material-symbols-outlined" id="search-icon">
            search
          </span>
          <input
            type="search"
            name="pesquisa"
            id="pesquisa"
            placeholder="Pesquisar apps..."
          />
        </form>
      </div>
    </header>

    <main>
      <!-- Sobre a Gravity Store -->
      <section id="about">
        <div class="about">
          <h2>Propósito da Gravity Store?</h2>
          <p>
            A Gravity Store nasce com a missão de unificar o ecossistema de
            aplicativos de código aberto (Open Source) em uma interface
            intuitiva e segura. Meu objetivo é simplificar a descoberta de
            ferramentas transparentes, removendo as barreiras para quem busca
            privacidade e liberdade no Android. Este é um projeto sem fins
            lucrativos.
            <br />
            <br />
            Atualmente em fase de desenvolvimento ativo, a Gravity Store está
            evoluindo para se tornar um hub definitivo de customização: nossos
            planos futuros incluem a integração nativa de Custom ROMs, Kernels,
            módulos Magisk e soluções de root, transformando a experiência de
            usuários avançados e entusiastas da tecnologia.
            <br />
            <br />
            <span id="status"
              ><strong>Status:</strong> Em desenvolvimento (Alpha 2).
            </span>
          </p>
        </div>
      </section>

      <!-- Cards dos apps -->
      <section class="popular">
        <h2 class="titleCard">Mais Recentes ✨</h2>

        <div class="cards">
          {% if apps %} {% for app in apps %}
          <div class="card">
            <div class="img">
              <img
                src="{{ url_for('dev.static', filename='uploads/' ~ app.icon_path) }}"
                alt="Ícone do app {{ app.nome }}"
                style="
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 15px;
                "
              />
            </div>

            <div class="infos">
              <h2 class="title">{{ app.nome }}</h2>
              <span class="text">{{ app.dev_name }} • {{ app.category }}</span>

              <div class="stats">
                <h4 id="avaliacao">{{ app.size_mb }} MB</h4>
                <a
                  href="{{ app.link_download }}"
                  id="obter"
                  target="_blank"
                  rel="noopener noreferrer"
                  >OBTER</a
                >
              </div>
            </div>
          </div>
          {% endfor %} {% else %}
          <p style="margin-left: 20px; color: #aeb9d6">
            Nenhum aplicativo publicado ainda. Seja o primeiro!
          </p>
          {% endif %}
        </div>

        <div class="moreG">
          <a href="#" id="botaoOG">EXPLORAR</a>
        </div>
      </section>

      <!-- Cards do jogos antigos -->
      <section class="oldGames">
        <h2 class="titleCard">Jogos Antigos 🕹️</h2>

        <div class="cardsG">
          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="moreG">
          <a href="#" id="botaoOG">EXPLORAR</a>
        </div>
      </section>

      <!-- Cards dos apps antigos -->
      <section class="oldApps">
        <h2 class="titleCard">Apps Antigos 📱</h2>

        <div class="cardsA">
          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="moreG">
          <a href="#" id="botaoOG">EXPLORAR</a>
        </div>
      </section>
    </main>

    <nav>
      <!-- Barra de navegação -->
      <!-- Menu Responsivo -->
      <div class="menu-hamburguer" id="btn-hamburguer">
        <span class="material-symbols-outlined"> menu </span>
      </div>

      <div class="secao">
        <ul id="lista-menu">
          <li>
            <a href="{{ url_for('main.home') }}" class="all">
              <span class="material-symbols-outlined"> all_inclusive </span>
              Todos</a
            >
          </li>
          <li>
            <a href="#" class="apps">
              <span class="material-symbols-outlined"> apps </span>
              Aplicativos</a
            >
          </li>
          <li>
            <a href="#" class="games">
              <span class="material-symbols-outlined"> gamepad </span>
              Jogos</a
            >
          </li>
          <li class="windows">
            <a href="#" class="musica">
              <img
                src="{{ url_for('main.static', filename='windows-white.svg') }}"
                alt="Icone do windows 10"
                id="iconW"
                width="23px"
                height="23px"
              />
              Windows</a
            >
          </li>

          <li>
            <a href="#" class="books">
              <span class="material-symbols-outlined"> mobile_code </span>
              Avançado</a
            >
          </li>
        </ul>
      </div>

      <!-- DEV AREA -->

      {% if session.get('is_dev') == 1 %}

      <a href="{{ url_for('dev.dev') }}" class="login">
        <span class="material-symbols-outlined" id="dev">
          developer_mode_tv
        </span>
      </a>

      {% endif %}

      <!-- Área do úsuario -->
      <div>
        {% if session['usuario_logado'] %}
        <div class="user-area">
          <div id="discovered">
            <a href="{{ url_for('login.logout') }}" id="sair">
              <i class="fa-solid fa-right-from-bracket"></i> Sair</a
            >
            <br />
            <a href="" id="apps">
              <i class="fa-regular fa-folder-open"></i> Histórico de Apps</a
            >
            <br />
            <a href="{{ url_for('profile.profile') }}" id="perfil">
              <i class="fa-solid fa-user"></i> Perfil</a
            >
          </div>

          <button id="usuario">
            <i class="fa-regular fa-user fa-2xl" style="color: white"></i>
          </button>
        </div>
        {% else %}

        <a href="{{ url_for('login.login') }}" class="login">
          <span class="material-symbols-outlined" id="login"> person_add </span>
        </a>
        {% endif %}
      </div>
    </nav>

    <!-- Arquivo Java -->
    <script src="{{url_for('main.static', filename='script.js')}}"></script>
  </body>
</html>
