<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('profile.static', filename='profile.css') }}"
    />
    <!--Logo da Gravity Store-->
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('main.static', filename='Gwhite.svg') }}"
    />

    <!-- Kit de ícones -->
    <script
      src="https://kit.fontawesome.com/e44e3818bb.js"
      crossorigin="anonymous"
    ></script>
    <title>Perfil</title>
  </head>
  <body></body>
</html>
