<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='Gwhite.svg') }}"
    />

    <script
      src="https://kit.fontawesome.com/e44e3818bb.js"
      crossorigin="anonymous"
    ></script>

    <title>Gravity Store</title>
  </head>
  <body>
    <header>
      <a href="{{ url_for('home') }}">
        <img
          src="{{ url_for('static', filename='Gwhite.svg') }}"
          alt="Logotipo da Gravity Store"
          id="logo"
        />
        <h1 class="titulo">Gravity Store</h1>
      </a>

      <div class="pesquisa">
        <form action="/pesquisa" method="get" id="form">
          <span class="material-symbols-outlined" id="search-icon">
            search
          </span>
          <input
            type="search"
            name="pesquisa"
            id="pesquisa"
            placeholder="Pesquisar apps..."
          />
        </form>
      </div>
    </header>

    <main>
      <section>
        <div class="about">
          <h2>Propósito da Gravity Store?</h2>
          <p>
            A Gravity Store nasce com a missão de unificar o ecossistema de
            aplicativos de código aberto (Open Source) em uma interface
            intuitiva e segura. Meu objetivo é simplificar a descoberta de
            ferramentas transparentes, removendo as barreiras para quem busca
            privacidade e liberdade no Android. Este é um projeto sem fins
            lucrativos.
            <br />
            <br />
            Atualmente em fase de desenvolvimento ativo, a Gravity Store está
            evoluindo para se tornar um hub definitivo de customização: nossos
            planos futuros incluem a integração nativa de Custom ROMs, Kernels,
            módulos Magisk e soluções de root, transformando a experiência de
            usuários avançados e entusiastas da tecnologia.
            <br />
            <br />
            <span id="status"
              ><strong>Status:</strong> Em desenvolvimento (Alpha).
            </span>
          </p>
        </div>
      </section>

      <section class="popular">
        <h2>Mais Usados ✨</h2>

        <div class="cards">
          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="oldGames">
        <h2>Jogos Antigos 🕹️</h2>

        <div class="cardsG">
          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="moreG">
          <a href="#" id="botaoOG">EXPLORAR</a>
        </div>
      </section>

      <section class="oldApps">
        <h2>Apps Antigos 📱</h2>

        <div class="cardsA">
          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>

          <div id="card">
            <div class="img"></div>

            <div class="infos">
              <h2 class="title">Teste</h2>
              <span class="text">Teste de card para apps.</span>

              <div class="stats">
                <h4 id="avaliacao">5,0 ★</h4>
                <h4>500M 📥</h4>
                <a href="#" id="obter">OBTER</a>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="moreG">
          <a href="#" id="botaoOG">EXPLORAR</a>
        </div>
      </section>
    </main>

    <nav>
      <div class="secao">
        <ul>
          <li>
            <a href="{{ url_for('home') }}" class="all">
              <span class="material-symbols-outlined"> all_inclusive </span>
              Todos</a
            >
          </li>
          <li>
            <a href="#" class="apps">
              <span class="material-symbols-outlined"> apps </span>
              Aplicativos</a
            >
          </li>
          <li>
            <a href="#" class="games">
              <span class="material-symbols-outlined"> gamepad </span>
              Jogos</a
            >
          </li>
          <li class="windows">
            <a href="#" class="musica">
              <img
                src="/static/windows-white.svg"
                alt="Icone do windows 10"
                id="iconW"
                width="23px"
                height="23px"
              />
              Windows</a
            >
          </li>

          <li>
            <a href="#" class="books">
              <span class="material-symbols-outlined"> mobile_code </span>
              Avançado</a
            >
          </li>
        </ul>
      </div>

      <div>
        {% if session['usuario_logado'] %}
        <div class="user-area">
          <i class="fa-regular fa-user fa-2xl"></i>
          <a href="{{ url_for('login.logout') }}">Sair</a>
        </div>
        {% else %}

        <a href="{{ url_for('login') }}" class="login">
          <span class="material-symbols-outlined" id="login"> person_add </span>
        </a>
        {% endif %}
      </div>
    </nav>
  </body>
</html>
