<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('dev.static', filename='apps.css') }}"
    />
    <title>Lista de Apps</title>
  </head>
  <body>
    <header>
      <a href="{{ url_for('main.home') }}" class="logo-link">
        <img
          src="{{ url_for('dev.static', filename='Gwhite.svg') }}"
          alt="Logotipo da Gravity Store"
          id="logo"
        />
        <h1 class="titulo">Gravity Store</h1>
      </a>
    </header>
    <main>
      <section>
        <section class="popular">
          <h2 class="titleCard">Apps Cadastrados ✨</h2>

          <div class="cards">
            {% if apps %} {% for app in apps %}
            <div class="card">
              <div class="img">
                <img
                  src="{{ url_for('dev.static', filename='uploads/' ~ app.icon_path) }}"
                  alt="Ícone do app {{ app.nome }}"
                  style="
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                  "
                />
              </div>

              <div class="infos">
                <h2 class="title">{{ app.nome }}</h2>
                <span class="text"
                  ><a
                    href="{{ app.link_github }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    style="text-decoration: none; color: white"
                    >{{ app.dev_name }} </a
                  >• {{ app.category }}</span
                >

                <div class="stats">
                  <h4 id="avaliacao">{{ app.size_mb }} MB</h4>
                  <a
                    href="#"
                    id="obter"
                    target="_blank"
                    rel="noopener noreferrer"
                    >EDITAR</a
                  >
                    <a
                    href="#"
                    id="obter"
                    target="_blank"
                    rel="noopener noreferrer"
                    >EXCLUIR</a
                  >
                </div>
              </div>
            </div>
            {% endfor %} {% else %}
            <p style="margin-left: 20px; color: #aeb9d6">
              Nenhum aplicativo publicado ainda. Seja o primeiro!
            </p>
            {% endif %}
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
